*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Consolas, monospace;
}

body{

    background:#000;
    color:#fff;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

}

.background{

    position:fixed;
    width:100%;
    height:100%;
    background:radial-gradient(circle,#111,#000 70%);
    z-index:-1;

}

.container{

    text-align:center;
    animation:fadeIn 2s;

}

#title{

    font-size:55px;
    letter-spacing:8px;
    color:white;
    text-shadow:0 0 20px white;

}

#subtitle{

    margin-top:20px;
    color:#999;
    font-size:20px;

}

.cursor{

    font-size:35px;
    animation:blink 1s infinite;
    margin-top:15px;

}

#startBtn{

    margin-top:50px;
    padding:15px 45px;
    background:transparent;
    color:white;
    border:2px solid white;
    font-size:20px;
    cursor:pointer;
    transition:.4s;

}

#startBtn:hover{

    background:white;
    color:black;
    box-shadow:0 0 30px white;

}

.hidden{

    display:none;

}

.terminal{

    width:90%;
    max-width:850px;
    margin:auto;
    padding:40px;
    background:#050505;
    border:1px solid #333;
    border-radius:15px;
    box-shadow:0 0 30px rgba(255,255,255,.1);

}

.line{

    margin:20px 0;
    font-size:22px;
    color:#ddd;
    min-height:35px;

}

#questionBox{

    margin-top:40px;
    text-align:center;

}

#questionNumber{

    color:#aaa;
    margin-bottom:25px;

}

#questionText{

    font-size:30px;
    margin-bottom:35px;
    line-height:1.6;

}

.buttons{

    display:flex;
    justify-content:center;
    gap:30px;

}

.buttons button{

    width:170px;
    padding:15px;
    background:black;
    border:2px solid white;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.4s;

}

.buttons button:hover{

    background:white;
    color:black;
    transform:scale(1.08);

}

#ending{

    text-align:center;
    animation:fadeIn 3s;

}

#ending h1{

    font-size:48px;
    margin-bottom:30px;

}

#ending h2{

    margin:20px;
    color:#aaa;

}

#ending p{

    margin-top:50px;
    font-size:22px;
    color:#666;

}

@keyframes blink{

50%{

opacity:0;

}

}

@keyframes fadeIn{

from{

opacity:0;
transform:translateY(25px);

}

to{

opacity:1;
transform:translateY(0);

}

}

@media(max-width:700px){

#title{

font-size:32px;
letter-spacing:4px;

}

#subtitle{

font-size:16px;

}

#questionText{

font-size:22px;

}

.buttons{

flex-direction:column;
align-items:center;

}

.buttons button{

width:220px;

}

  }
